* 
{
  box-sizing: border-box;
}

html
{
  font-family: 'Lemonada', sans-serif;
}

body 
{
  margin: 0;
  font-family: 'Lemonada', sans-serif;
  background-color: #fff;
}

button, input, textarea, select 
{
  font-family: 'Lemonada', sans-serif;
}
